@import "~bootstrap/scss/bootstrap";

.hero-section{
    @extend .pb-0;

    @extend .text-start;
    background-image: url(../../assets/img/rockwellBgGreen.jpg);
    height: 45rem;
    background-size: cover;

    h1 {
        font-weight: 900 !important;
        line-height: 0.9 !important;
        span{
            font-size: 100pt;
        }
    }
    
    span{
        font-size: 18pt;
    }
    
    button{
        background-color: white;
        color: black;
        @extend .mt-5;
        @extend .fw-bold;
    }

    .container{
        position: relative;
        top: 12%;
    }
}

