@import "~bootstrap/scss/bootstrap";

.container-fluid {
    @extend .justify-content-between;
    max-width: 1200px !important;
}

.nav-link {
    @extend .text-uppercase;
    font-size: 0.8rem !important;
}

.navBar {
    position: fixed !important;
    top: 0;
    width: 100%;
    z-index: 9999;
}